## Series.str.extract()
* expand = True

#### Series

In [2]:
import pandas as pd
s = pd.Series(['sooyeon','jihyun','seola'])

In [3]:
display(s.index, s.values)

RangeIndex(start=0, stop=3, step=1)

array(['sooyeon', 'jihyun', 'seola'], dtype=object)

#### index

In [4]:
type(s.index)

pandas.core.indexes.range.RangeIndex

In [5]:
list(s.index)

[0, 1, 2]

#### values

In [6]:
s.values

array(['sooyeon', 'jihyun', 'seola'], dtype=object)

In [7]:
type(s.values)

numpy.ndarray

### expand parameter
- True: DataFrame을 return
- False: Series를 return

In [8]:
s

0    sooyeon
1     jihyun
2      seola
dtype: object

In [10]:
s.str.extract(r'[sj](\D)')
              # 소문자 [] 중에 하나
              # () 숫자

   0
0  o
1  i
2  e

### default :expand = True
> `s.str.extract(r'[sj](\D)', expand=True)`

#### type → DataFrame

In [11]:
type(s.str.extract(r'[sj](\D)'))

pandas.core.frame.DataFrame

### expand = False

In [13]:
s.str.extract(r'[sj](\D)', expand=False)

0    o
1    i
2    e
dtype: object

In [14]:
type(s.str.extract(r'[sj](\D)', expand=False))

pandas.core.series.Series

#### type → Series

## **diff = return type**

In [19]:
s.str.extract(r'([sj])(\D)')

   0  1
0  s  o
1  j  i
2  s  e

In [20]:
s.str.extract(r'([sj])(\D)', expand=True)

   0  1
0  s  o
1  j  i
2  s  e

In [21]:
s.str.extract(r'([sj])(\D)', expand=False)

   0  1
0  s  o
1  j  i
2  s  e

In [22]:
type(s.str.extract(r'([sj])(\D)', expand=False))

pandas.core.frame.DataFrame

#### 그룹이 한 개인 경우에 대해서만 expand에 대한 결과값을 달리한다.
> 그룹이 하나라면, 그룹에 대한 colums (array)가 한 개 이므로, <br>Series로도 리턴이 가능하다.

In [27]:
titanic = pd.read_csv('titanic.csv')

In [28]:
titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [35]:
for data in [titanic]:
    data['Title'] = data['Name'].str.extract('([A-za-z]+)\.')
    
data[0:3] # data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss

In [39]:
titanic['Title'].head(3)

0      Mr
1     Mrs
2    Miss
Name: Title, dtype: object

In [36]:
expand_false = titanic['Name'].str.extract('([A-za-z]+)\.',expand=False) # Series
print(type(expand_false))
expand_false[0:3]

<class 'pandas.core.series.Series'>

0      Mr
1     Mrs
2    Miss
Name: Name, dtype: object

In [37]:
expand_false.head(3)

0      Mr
1     Mrs
2    Miss
Name: Name, dtype: object